<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Advent of Code à l’AÉDIROUM</title>
        <link rel="stylesheet" href="static/style.css">
        <link href="https://advent.calculum.ca/" rel="canonical">
        <meta content="width=device-width, initial-scale=1" name="viewport">
    </head>
    <body>
        <h1 class="site-title">
            <em>Advent of Code</em><br>
            à l’AÉDIROUM
        </h1>

        <p>
            Cette année, l’AÉDIROUM offre 200$ de récompense partagée entre les membres qui se hissent en haut de notre classement local à l’<em>Advent of Code</em>.
            Les quatre premières personnes en 1ʳᵉ ou 2ᵉ année, et les quatre premières personnes en 3ᵉ année ou aux cycles supérieurs recevront chacune 25$ à l’issue du concours.
        </p>

        <p>
            <a target="_blank" rel="noopener" href="https://forms.office.com/r/irg2dqRdSD">Rejoindre le classement →</a>
        </p>

        {% for category, leaderboard in leaderboards %}
        <h2>{{ category }}</h2>

        <table>
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 65%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Nom</th>
                    <th class="numeric">Étoiles</th>
                    <th class="numeric">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard %}
                <tr>
                    <td class="numeric">{{ entry["rank"] }}</td>
                    <td>{{ entry["name"] }}</td>
                    <td class="numeric">{{ entry["stars"] }}/50</td>
                    <td class="numeric">{{ entry["score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}

        <footer>
            <p class="unemph">
                Le classement est mis à jour toutes les 15 minutes.
                La dernière mise à jour a eu lieu le {{ now }}.
            </p>
        </footer>
    </body>
</html>
